.originate-call-lg-btn {
    margin-left: 10px;
  }
  
  .sm-originate-call {
    .originate-call-lg-btn {
      padding: 0.25rem 0.5rem;
      font-size: 0.94791667rem;
      border-radius: 0.2rem;
    }
  }